{% block content %}
    <div><strong>{{ title }}</strong></div>
    <table style="text-align: left; border-collapse: collapse; width: 100%">
        <thead style="vertical-align: top; border-top: 1px solid #000">
            <tr style="padding: 5px; border-top: 1px solid #000; border-bottom: 1px solid #000">
                {% for column in column_keys %}
                    {% if columns[column] != '0' %}
                        <th scope="col" style="padding: 5px">{{ columns[column] }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody style="vertical-align: top">
            {% for row in rows %}
            <tr style="padding: 5px; text-align: left; border-bottom: 1px solid #333">
                    {% for column in column_keys %}
                        {% if columns[column] != '0' %}
                            {% if row[column] is defined %}
                                <td style="padding: 5px">{{ row[column] }}</td>
                            {% else %}
                                <td style="padding: 5px"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}