astroid==3.3.8
azure-core==1.32.0
azure-functions==1.21.3
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
beautifulsoup4==4.12.3
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.1
dill==0.3.9
flake8==7.1.2
greenlet==3.1.1
idna==3.10
isodate==0.7.2
isort==6.0.0
Jinja2==3.1.5
lxml==5.3.0
MarkupSafe==3.0.2
mccabe==0.7.0
msal==1.31.1
msal-extensions==1.2.0
mypy==1.15.0
mypy-extensions==1.0.0
platformdirs==4.3.6
portalocker==2.10.1
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.10.1
pylint==3.3.4
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.38
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.3.0
