{% block content %}
    <table border="1" style="text-align: left">
        <caption>{{ iz }} Duplicate Barcode Report</caption>
        <thead>
            <tr>
                {% for column in column_keys %}
                    {% if columns[column] != '0' %}
                        <th>{{ columns[column] }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for column in column_keys %}
                        {% if columns[column] != '0' %}
                            {% if row[column] is defined %}
                                <td>{{ row[column] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}